<header class="header">
    <a routerLink="/" class="logo">Bingo</a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x'  id="close-icon"></i>
    </label>
    <nav class="navbar" *ngIf="!authenticated">
        <a routerLink="/" style="--i:0;">Home</a>
        <a href="#" style="--i:1;">About</a>
        <a href="#" style="--i:2;">Contact Us</a>
        <a href="#" style="--i:3;">Services</a>
        <a  style="--i:4;" (click)="login()">Login/Signup</a>
        <a *ngIf="isLoggedIn()" style="--i:4;" (click)="logout()">Logout</a>
    </nav>
    <nav class="navbar" *ngIf="authenticated">
        <a routerLink="'/profile'" routerLinkActive="router-link-active" style="--i:3;">Profile</a>
        <a routerLink="'/login'" routerLinkActive="router-link-active"  style="--i:4;" (click)="logout()" >Logout</a>
    </nav>
</header>